<h2 class="card-title">{{user.realName}}</h2>
          <p class="meta">{{comments.commentTimestamp}}</p>
<div>I am Here 2!</div>          
<div class="form-group" id="postId">
    <div for="comment">Comment:</div>
    <div class="form-control" rows="5" id="comment">{{comments.comment}}</div>
</div>