<div class="form-group p-2" id="postId">
    <div for="comment"> on {{formatDate commentTimestamp}} {{user.username}} says...</div>
    <div class="form-control" rows="5" id="comment">{{comment}}</div>
</div>
{{!-- {{log this}} --}}