<h2 class="card-title">{{user.realName}}</h2>
          <p class="meta">{{formatDate commentTimestamp}}</p>
<div class="form-group" id="postId">
    <div for="comment">Comment:</div>
    <div class="form-control" rows="5" id="comment">{{comment}}</div>
</div>
{{log this}}