<h2 class="card-title">{{user.realName}}</h2>
          <p class="meta">{{comment.commenTimestamp}}</p>
          
<div class="form-group">
    <label for="comment">Comment:</label>
    <textarea class="form-control" rows="5" id="comment">{{review}}</textarea>
</div>