<div >
  {{#each reviews as |review|}}
  <div>
    {{> review}}
  </div>
  {{/each}}
</div>

<row class="container-fluid">
   <div class="container box5">
    <div class="card" style="width: 85%;">
      <div class="card-body">
        <h2 class="card-title">Lydia Williamson</h2>
        <p class="meta">Nov 6th, 2021 6:54 PM</p>
        <p>
        <h3>
          <ul>
              <li><b>Artist:</b></li>
              <li><b>Name:</b></li>
              <li><b>Genre:</b></li>
              <li><a href=""><b>Youtube URL:</b></a></li>
          </ul>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center"> 
          <button class="btn1">VIEW COMMENTS</button>
            <button class="btn2">ADD COMMENT</button>
        </div>
        
      </div>
    </div>
    
    
    <div class="card" style="width: 85%;">
      <div class="card-body">
        <h2 class="card-title">Kerrius Williams</h2>
        <p class="meta">Nov 6th, 2021 9:59 PM</p>
        <p>
        <h3>
          <ul>
              <li><b>Artist:</b></li>
              <li><b>Name:</b></li>
              <li><b>Genre:</b></li>
              <li><a href=""><b>Youtube URL:</b></a></li>
          </ul>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center"> 
          <button class="btn1">VIEW COMMENTS</button>
            <button class="btn2">ADD COMMENT</button>
        </div>
      </div>
    </div>
    
    
    <div class="card" style="width: 85%;">
      <div class="card-body">
        <h2 class="card-title">Shawn Miller</h2>
        <p class="meta">Nov 6th, 2014 4:05 PM</p>
        <p>
        <h3>
          <ul>
              <li><b>Artist:</b></li>
              <li><b>Name:</b></li>
              <li><b>Genre:</b></li>
              <li><a href=""><b>Youtube URL:</b></a></li>
          </ul>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center"> 
          <button class="btn1">VIEW COMMENTS</button>
          <button class="btn2">ADD COMMENT</button>
        </div>
      </div>
    </div>
    
    
    <div class="card" style="width: 85%;">
      <div class="card-body">
        <h2 class="card-title">Michael Jenkins</h2>
        <p class="meta">Nov 6th, 2021 2:02 AM</p>
        <h3>
          <ul>
              <li><b>Artist:</b></li>
              <li><b>Name:</b></li>
              <li><b>Genre:</b></li>
              <li><a href=""><b>Youtube URL:</b></a></li>
          </ul>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center"> 
          <button class="btn1">VIEW COMMENTS</button>
            <button class="btn2">ADD COMMENT</button>
        </div>
      </div>
    </div>
     </row>   
  
 </main> 