
<row class="container-fluid background">
    <div class="container box3">
        <div class="row">

            <!-- Sign up -->
            <div class="col-md-5 box">
                <form role="form" method="post" action="" class="signupForm">
                    <fieldset>
                        <p class="fs-1 text-white accentText"> Sign Up</p>
                        <p class="text-white"> Sign in here and see your music feed.</p>
                        <div class="form-group py-2">
                            <input type="name" name="name" id="signupName" class="form-control input-lg" placeholder="Name">
                        </div>
                        <div class="form-group py-2">
                            <input type="username" name="username" id="signupUser" class="form-control input-lg" placeholder="Username">
                        </div>
                        <div class="form-group py-2">
                            <input type="password" name="password" id="signupPassword" class="form-control input-lg" placeholder="Password">
                        </div>
                        <div>
                            <input type="submit" class="btn btn-md btn-info" value="Create Account">
                        </div>
                    </fieldset>
                </form>
            </div>

            <!-- sign in -->
            <div class="col-md-2">
                </div>
                    <div class="col-md-5 box2">
                        <form role="form" method="post" action="" class="loginForm">
                            <fieldset>
                                <p class="fs-1 text-white accentText"> Log In</p>
                                <p class="text-white"> Login here and get started reviewing music.</p>

                                <div class="form-group py-2">
                                    <input type="username" name="username" id="loginUsername" class="form-control input-lg" placeholder="Username">
                                </div>
                                <div class="form-group py-2">
                                    <input type="password" name="password" id="loginPassword" class="form-control input-lg" placeholder="Password">
                                </div>
                                <div>
                                    <input type="submit" class="btn btn-md btn-info" value="Sign In">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</row>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>   
<script src="/js/login.js"></script>
