        <row class="container-fluid">
            <div class="container box4">
                <!-- form -->
                <div class="col-md-4 mx-auto text-center">
                    <form role="form" method="post" action="" class="newReviewForm">
                        <fieldset>
                            <p class="fs-1 text-white accentText"> New Post</p>
                            <div class="form-group py-2">
                                <input type="artistName" name="artistName" id="artistName" class="form-control input-lg" placeholder="Artist Name">
                            </div>
                            <div class="form-group py-2">
                                <input type="songTitle" name="songTitle" id="songTitle" class="form-control input-lg" placeholder="Song Title">
                            </div>
                            <div class="form-group py-2">
                                <input type="genre" name="genre" id="genre" class="form-control input-lg" placeholder="Genre">
                            </div>
                            <div class="form-group py-2">
                                <input type="youtube" name="youtube" id="youtube" class="form-control input-lg" placeholder="Youtube URL">
                            </div>
                            <div class="form-group py-2">
                                <input type="review" name="review" id="review" class="form-control input-lg" placeholder="Review (Be honest)">
                            </div>
                            <div>
                                <input type="submit" class="btn btn-md btn-info" value="Publish!">
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </row>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>  
           <script src="/js/newpost.js"></script>

    </body>

