<div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="post">
        <h3>
            <ul>
                <li>Artist:</li>
                <li>Song Name:</li>
                <li>Genre:</li>
                <li><a URL:>YoutubeURL: </a></li>
            </ul>
        </h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View Comments</a> <a href="#" class="btn btn-default" role="button">ADD COMMENT</a></p>
      </div>
    </div>
  </div>
</div>


