{{> post singlePost}}

{{#each comments as |comment|}}
<div>{{> comment}}</div>
{{/each}}

<form class="container-fluid box5 card">
    
    <div class="comment-card-header">
        <textarea name="comment-body"></textarea>    
    </div>

    <div>
        <button type="submit">Submit comment</button>
    </div>            

</form>

<script src='/js/comment.js'></script>
