{{> post singlePost}}
{{!-- {{#each singlePost.comments}}
{{> comment this}}
{{/each}} --}}

<form class="container-fluid box5 card">
    
    <div class="comment-card-header">
        <textarea name="comment-body" id="commentBody"></textarea>    
    </div>

    <div>
        <button type="submit" class="newComment">Submit comment</button>
    </div>            

</form>

<script src='/js/comment.js'></script>
